.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}

  .sorting {
    margin: 3% 0 1% 1%;
    width: 100%;

    a {
      text-decoration: none;
      color: $light-grey;
      font-family: $exo;
      font-weight: $w-bold;

      img {
        margin-right: 5px;
      }
    }
  }

  .each-card, .add-project {
    width: 31%;
    margin: 1%;
    border-radius: 0;

    @media screen and (max-width: $screen-mobile-tablet) {
      width: 48%;
    }

    @media screen and (max-width: $screen-xs-max) {
      width: 100%;
    }

  }

  .each-card {
    border-radius: 0;
    box-shadow: 5px 10px 50px rgba(black, 0.2);
    transition: all 0.5s;
    position: relative;
    padding-bottom: 40px;

    &:hover, &:focus {
      box-shadow: 5px 10px 30px rgba(black, 0.3);
    }

    .when-opened, .when-closed, .settings {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 44px;
      height: 44px;
      border: none;
      background: transparent;
      opacity: .5;
      font-size: 1.3rem;

      &:hover, &:focus {
        opacity: 1;
      }

    }
    .settings, .when-closed {

      &::after {
        font-family: FontAwesome;
        content: '\f013';
        z-index: 2;
      }

    }

    .card-header, .card-body, .card-footer {
      border: 0;
      background: transparent;
      padding: 10px 30px;

      h3, #projectName {
        font-weight: $w-extrabold;
        color: $dark-grey;
        margin-top: 30px;
        font-size: 1.625rem;
        margin: 0;
        margin-bottom: 30px;
        .trash {
          display: none;
        }
      }

      .description {
        line-height: 1.2;
        margin-bottom: 24px;
        width: 100%;
      }

      .benefit-title, .primary-title, .secondary-title {
        color: $light-grey;
        font-size: 0.9rem;
        margin-bottom: 5px;
      }

      .primary-title, .secondary-title {
        display: none;
      }

      .benefit {
        font-weight: $w-medium;
        margin: 0;
      }

      .status {
        color: $light-grey;
        font-weight: $w-medium;
        margin-bottom: 0;
        position: absolute;
        bottom: 20px;
      }
    }

    .status-bar {
      position: absolute;
      bottom: 0;
      content: '';
      width: 100%;
      display: block;
    }
  }

  .not-started {

    .card-body {

      label {
        display: none !important;
      }
      input[disabled], textarea[disabled], select[disabled] {
        background: white !important;
        border: none;
        padding: 0;
      }
      #projectNameGroup {
        width: 100%;
        height: 70px;
        margin-bottom: 0;
  
        .project-name input {
          height: 31px;
        }
      }
      
      .save-button {
        display: none;
      }
  
      #descriptionGroup {
  
        textarea[disabled] {
          font-weight: $w-light;
          color: black;
        }
      }
  
      #primaryBenefitsGroup, #secondaryBenefitsGroup {
        margin-bottom: 0;
        select {
          font-weight: $w-medium;
          color: black;
          height: 24px;
        }
      }
    }

    .status-bar {
      height: 10px;
      background: linear-gradient(to right, lighten($yellow, 20%), $yellow);
    }
  }





  .in-progress {
    .status-bar {
      height: 10px;
      background: linear-gradient(to right, lighten($bright-blue, 20%), $bright-blue);
    }
  }

  .closed {
    .status-bar {
      height: 10px;
      background: linear-gradient(to right, lighten($green, 20%), $green);
    }
  }

  .add-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $dark-grey;
    background: transparent;
    border: none;
    outline: none;

    @media screen and (max-width: $screen-xs-max) {
      height: 200px;
    }

    .fa-plus-circle {
      font-size: 5rem;
      margin-bottom: 15px;
    }

    &:hover, &:focus {
      text-decoration: none;
      color: $bright-blue;
    }

    &:visited {
      color: $dark-grey;
    }
  }
