@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import 'variables.scss';
@import 'header.scss';
@import 'cards.scss';
@import 'modal.scss';
@import 'pv-in-progress.scss';
@import 'pv-not-started.scss';



#app {
  font-family: $roboto;
  font-weight: $w-light;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $exo;
  font-weight: $w-extrabold;
}

button, .btn {
  font-family: $exo;
  outline: none !important;
  border: none;
  border-radius: 0;
  padding: 10px 0;
}

input, textarea, select, label:before {
  border-radius: 0 !important;
}
